*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'arial';
}

body {
	background-color: #e0e0e0;
}

form{
	width: 400px;
	padding: 30px;
	background: white;
	border-radius: 15px;
	margin: auto;
	margin-top: 100px;
	border border-radius: 4px;
	color: black;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

form h3{
	font-size: 22px;
	margin-bottom: 20px;
}

option{
	background: white;
}

select {
	width: 100px;
	background: white;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 16px;
	border: 1px solid #e0e0e0;
	color: black;
}

input{
	width: 200px;
	background: white;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #e0e0e0;
	color: black;
}

.btn {
	background-color: #01579b;
	color: white;
	width: 100%;
}

.textocentrado {
	text-align: center;
}
